<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Information search</title>
<style type="text/css">
#section {
    float:left;
    padding-left:175px; 
}
</style>
</head>
<body>
<div id="section">
<h1 align="center">信息查询</h1>
<input type="text" style="width:700px; height:30px">
<select style="width:80px; height:35px;padding-left:0px">
<option value="course">course</option>
<option value="coach">coach</option>
<option value="vip">vip</option> 
</select>
<button type="button" style="width:80px; height:35px; padding-left:0px">search</button><br>
<table border="1" width="100%">
 <tr>
   <th>学号</th><th>姓名</th><th>学院</th>
 </tr>
 <tr>
   <td>20429042</td><td>cf</td><td>fahf</td>
 </tr>
</table>
</div>
</body>
</html>