<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>admin</title>
<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:50px;
    background-color:#eeeeee;
    height:525px;
    width:100px;
    float:left;
    padding:5px; 
}
#section {
    width:1100px;
    float:left;
    padding:10px; 
}
</style>
</head>
<body>
<div id="header">
<h1>Admin Index</h1>
</div>

<div id="nav">
<button type="button">查询信息</button><br>
<button type="button">转卡</button><br>
</div>

<div id="section">
<h1>欢迎来到管理员页面</h1>
<p>我们的项目是一套健身机构管理系统，采用前后端分离的实现，后端基于springboot 2.x，提供了包括会员管理，课程管理，教练管理等功能。
</p>
<ul>
  <li>本系统对新手开发者十分友好，无需复杂的操作步骤，仅需 2 秒就可以启动这个完整的项目；</li>
  <li>本项目还有一些不完善的地方，才疏学浅，望见谅；</li>
  <li>有任何问题都可以反馈，会尽量完善该项目。</li>
</ul>
<h3>项目地址
</h3>
<a href="https://github.com/YellowBroke/GymManager/">github地址</a>
</div>
</body>
</html>